#search {
  position: fixed;
  width: 35%;
  height: 50px;
  font-size: 30px;
  left: 50%;
  transform: translate(-50%);
  top: 50px;
}
#search:focus::placeholder {
  opacity: 0;
}
.container_members {
  margin-top: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li_members {
  font-size: 20px;
  cursor: pointer;
  display: none;
  border: 1px solid gray;
  padding: 10px;
}
.li_members:hover {
  background-color: antiquewhite;
}
.li_members.active {
  display: block;
}
