@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  box-sizing: border-box;
}
body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}
#search {
  position: fixed;
  width: 35%;
  height: 70px;
  font-size: 30px;
  left: 50%;
  transform: translate(-50%);
  top: 50px;
  border: 3px solid #00b4cc;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
#search:focus {
  color: #00b4cc;
}
#search:focus::placeholder {
  opacity: 0;
}
.container_members {
  margin-top: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li_members {
  font-size: 20px;
  cursor: pointer;
  display: none;
  border: 1px solid gray;
  padding: 10px;
  color: #45c187;
}
.li_members:hover {
  background-color: antiquewhite;
}
.li_members.active {
  display: block;
}
